<style>
   #shopify-section-{{ section.id }} {
     --section-padding-top: {{ section.settings.padding_top }}px;
     --section-padding-bottom: {{ section.settings.padding_bottom }}px;
     overflow: hidden;
  {%- render 'section-variables', section: section -%}
   }

   #shopify-section-{{ section.id }} .swiper {
     z-index: auto;
   }

   #shopify-section-{{ section.id }} .yg-play-button {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     cursor: pointer;
     z-index: 1;
     display: flex;
     opacity: 1;
     border-radius: 50%;
     width: 3rem;
     aspect-ratio: 1 / 1;
     background: rgba(24, 24, 24, 0.30);
     backdrop-filter: blur(4.5px);
     align-items: center;
     justify-content: center;
     transition: all ease-in-out 0.3s;
   }

   #shopify-section-{{ section.id }} .yg-video-item {
     border-radius: 1.25rem;
     background: {{ section.settings.bg_card }};
     overflow: hidden;
   }

   #shopify-section-{{ section.id }} .yg-video-posterImage {
     border-radius: 1.25rem;
     overflow: hidden;
     position: relative;
   }

   #shopify-section-{{ section.id }} .yg-video-content {
     padding: 1.875rem 1.5rem;
     min-height: 13.75rem;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   }

   #shopify-section-{{ section.id }} .yg-video-content-top {
     display: grid;
     gap: 0.5rem;
   }

   #shopify-section-{{ section.id }} .yg-video-pagination {
     position: relative;
     border-radius: 3px;
   }

   #shopify-section-{{ section.id }} .swiper-pagination-progressbar.yg-video-pagination .swiper-pagination-progressbar-fill {
     border-radius: 3px;
   }

   #shopify-section-{{ section.id }} .yg-poster-img {
     width: 100%;
     height: auto;
     display: flex;
   }

   #shopify-section-{{ section.id }} .yg-poster-img img,
   #shopify-section-{{ section.id }} .yg-poster-img .yg-loading-box {
     width: 100%;
     height: 100%;
   }

   #shopify-section-{{ section.id }} .yg-bottom-block {
     display: flex;
     align-items: center;
     gap: 2.5rem;

     --swiper-pagination-progressbar-bg-color: #E6E5E5;
     --swiper-pagination-color: #F90;
     --swiper-pagination-progressbar-size: 6px;

     margin-block-start: 2.5rem;
   }

   #shopify-section-{{ section.id }} .yg-video-dialog-wrapper {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 1111110;
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
     background-color: rgba(103, 103, 103, 0.6);
     transition: all ease 0.5s;
     opacity: 0;
     visibility: hidden;
   }

   #shopify-section-{{ section.id }} .yg-video-dialog-wrapper.active {
     opacity: 1;
     visibility: visible;
   }

   #shopify-section-{{ section.id }} .yg-video-dialog-wrapper .yg-video-dialog {
     width: 70vw;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }

   #shopify-section-{{ section.id }} .yg-video-dialog-content {
     width: 100%;
     transform: translateY(-30px);
     transition: all ease 0.5s;
   }

   #shopify-section-{{ section.id }} .yg-video-dialog .yg-video-dialog-content.active {
     transform: translateY(0);
   }

   #shopify-section-{{ section.id }} .yg-video-dialog .yg-video {
     width: 100%;
   }

   #shopify-section-{{ section.id }} .yg-video-dialog .js-iframe {
     aspect-ratio: 16 / 9;
     border: none;
   }

   #shopify-section-{{ section.id }} .yg-media-close {
     margin-top: 20px;
     display: flex;
     justify-content: center;
     cursor: pointer;
   }

   #shopify-section-{{ section.id }} .yg-media-close svg {
     background-color: white;

     box-sizing: content-box !important;
     border-radius: 50%;
     padding: 10px;
     cursor: pointer;
     color: black;
     transition: all 0.3s ease-in-out;
   }

   #shopify-section-{{ section.id }} .yg-media-close svg:hover {
     transform: rotate(180deg);
   }

   #shopify-section-{{ section.id }} .yg-play-button:hover {
     transform: translate(-50%, -50%) scale(1.1);
   }

   #shopify-section-{{ section.id }} .indicators{
     gap: 24px;
   }

   @media (max-width: 767px) {
     #shopify-section-{{ section.id }} .indicators{
       gap: 12px;
     }

     #shopify-section-{{ section.id }} .yg-bottom-block {
       gap: 1.875rem;
       margin-block-start: 1.5rem;
     }

     #shopify-section-{{ section.id }} .yg-video-navigation button {
       width: 2.5rem;
       height: 2.5rem;
     }


     #shopify-section-{{ section.id }} .swiper {
       overflow: visible;
     }

     #shopify-section-{{ section.id }} .yg-video-content {
       padding: 1.25rem;
     }

     #shopify-section-{{ section.id }} .yg-video-content-top {
       gap: 0.25rem;
     }

     #shopify-section-{{ section.id }} .yg-video-content {
       padding: 1.25rem;
       min-height: 11.25rem;
     }

     #shopify-section-{{ section.id }} .yg-video-description {
       font-size: 0.875rem;
     }

     #shopify-section-{{ section.id }} .yg-video-posterImage,
     #shopify-section-{{ section.id }} .yg-video-item {
       border-radius: 1rem;
     }

     #shopify-section-{{ section.id }} .yg-video-dialog-wrapper .yg-video-dialog {
       width: 90vw;
     }
   }

   #shopify-section-{{ section.id }} h2.heading {
     font-size: var(--yg-h3);
   }
</style>
<div
  class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}"
>
  <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
    {%- render 'section-heading', section: section -%}

    <yg-video-slide class="swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% liquid
            assign videoi = block.settings.video
            assign external_video_url = block.settings.external_video_url
            assign youtube_poster = 'https://img.youtube.com/vi/' | append: external_video_url.id | append: '/mqdefault.jpg'

            assign poster_imagei = block.settings.poster_image
            assign poster_imagei_mo = block.settings.poster_image_mo
          %}
          {% if external_video_url != blank or videoi != blank or poster_imagei != blank or block.settings.video_other_url != blank %}
            <div class="yg-video-item swiper-slide">
              <div class="yg-video-posterImage">
                {%- if external_video_url != blank or videoi != blank or block.settings.video_other_url != blank %}
                  <template class="yg-video-main">
                    {% if external_video_url == blank and block.settings.video_other_url == blank %}
                      {{-
                        videoi
                        | video_tag:
                          playsinline: true,
                          preload: 'metadata',
                          muted: false,
                          loop: false,
                          autoplay: true,
                          image_size: '800x',
                          class: 'yg-video js-video',
                          controls: true
                      -}}
                    {% else %}
                      {% if block.settings.video_other_url != blank %}
                        <iframe
                          class="yg-video yg-dynamic-video js-iframe"
                          data-dynamic-url="{{ block.settings.video_other_url }}"
                          src="https://www.youtube.com/embed/{{ external_video_url.id }}?playsinline=1&autoplay=1&controls=1&mute=1&loop=1&playlist={{ external_video_url.id }}&enablejsapi=1&rel=0&modestbranding=1&origin={{ 'https://' | append: request.host | url_encode }}"
                          allow="autoplay; encrypted-media"
                          allowfullscreen="allowfullscreen"
                        ></iframe>
                      {% else %}
                      {%- if external_video_url.type == 'youtube' -%}
                        <iframe
                          class="yg-video js-iframe"
                          src="https://www.youtube.com/embed/{{ external_video_url.id }}?playsinline=1&autoplay=1&controls=1&mute=1&loop=1&playlist={{ external_video_url.id }}&enablejsapi=1&rel=0&modestbranding=1&origin={{ 'https://' | append: request.host | url_encode }}"
                          allow="autoplay; encrypted-media"
                          allowfullscreen="allowfullscreen"
                        ></iframe>
                      {%- elsif external_video_url.type == 'vimeo' -%}
                        <iframe
                          class="yg-video js-iframe"
                          src="https://player.vimeo.com/video/{{ external_video_url.id }}?autoplay=1&autopause=0&background=1&loop=1&muted=1&transparent=0&responsive=1&portrait=0&title=0&byline=0&color={{ settings.text_color | remove_first: '#' }}"
                          allow="autoplay; encrypted-media;"
                          allowfullscreen="allowfullscreen"
                        ></iframe>
                      {%- endif -%}
                    {% endif %}
                    {% endif %}
                  </template>
                {%- endif -%}
                <div class="yg-poster-img">
                  {% assign img = poster_imagei %}
                  {% if img != blank %}
                    {% if poster_imagei_mo == blank %}
                      {% if img != blank %}
                        {{-
                          img
                          | image_url: width: img.width
                          | image_tag: class: 'yg-image', alt: desc
                          | default: shop.name,
                            loading: 'lazy',
                            widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200'
                        -}}
                      {% endif %}
                    {% else %}
                      {% if img != blank %}
                        {{-
                          img
                          | image_url: width: img.width
                          | image_tag: class: 'hide-mobile yg-image', alt: desc
                          | default: shop.name,
                            loading: 'lazy',
                            widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200'
                        -}}
                      {% endif %}
                      {{-
                        poster_imagei_mo
                        | image_url: width: poster_imagei_mo.width
                        | image_tag: class: 'hide-pc yg-image', alt: desc
                        | default: shop.name,
                          loading: 'lazy',
                          widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200'
                      -}}
                    {% endif %}
                  {% else %}
                    <img src="{{ youtube_poster }}" alt="{{ desc }}" width="100%" height="auto" class="yg-image">
                  {% endif %}
                </div>

                {%- if external_video_url != blank or videoi != blank or block.settings.video_other_url != blank %}
                  <div class="yg-play-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <path
                      	d="M15.1112 7.77794C15.1112 8.14665 14.9204 8.48714 14.6082 8.67571L4.23786 14.9612C4.07297 15.0607 3.88838 15.111 3.70378 15.111C3.52749 15.111 3.35119 15.0659 3.19253 14.9748C2.86793 14.7883 2.66675 14.4406 2.66675 14.0634V1.49241C2.66675 1.11528 2.86793 0.767483 3.19253 0.581012C3.51712 0.393494 3.91741 0.39978 4.23786 0.594629L14.6082 6.88011C14.9204 7.06869 15.1112 7.40918 15.1112 7.77794Z"
                      	fill="white"/>
                    </svg>
                  </div>
                {%- endif -%}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="yg-bottom-block">
        <div class="yg-video-pagination"></div>
        <div class="yg-video-navigation">
          <div class="indicators flex gap-2d5">
            <button
              class="button button--secondary yg-button-prev"
              type="button"
              is="previous-button"
              aria-controls="Slider-pre"
              aria-label="{{ 'general.pagination.previous' | t | escape }}"
              disabled
            >
              <span class="btn-fill" data-fill></span>
              <span class="btn-text">
                {%- render 'icon', icon: 'chevron-left', class: 'transform' -%}
              </span>
            </button>
            <button
              class="button button--secondary yg-button-next"
              type="button"
              is="next-button"
              aria-controls="Slider-nxt"
              aria-label="{{ 'general.pagination.next' | t | escape }}"
            >
              <span class="btn-fill" data-fill></span>
              <span class="btn-text">
                {%- render 'icon', icon: 'chevron-right', class: 'transform' -%}
              </span>
            </button>
          </div>
        </div>
      </div>

      <div class="yg-video-dialog-wrapper">
        <div class="yg-video-dialog">
          <div class="yg-video-dialog-content"></div>
          <div class="yg-media-close">
            <svg
              role="presentation"
              stroke-width="2"
              focusable="false"
              width="24"
              height="24"
              class="icon icon-close"
              viewBox="0 0 24 24"
            >
              <path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343"
              			stroke="currentColor"></path>
            </svg>
          </div>
        </div>
      </div>
    </yg-video-slide>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    class YGVideoSlide extends HTMLElement {
      constructor() {
        super();
        this.init();
        this.prevButton = this.querySelector('.yg-button-prev');
        this.nextButton = this.querySelector('.yg-button-next');

        // this.prevButton.addEventListener('click', (event) => {
        //   event.stopPropagation();
        // });
        //
        // this.nextButton.addEventListener('click', (event) => {
        //   event.stopPropagation();
        // });
      }

      init() {
        new Swiper(this, {
          navigation: {
            nextEl: this.querySelector('.yg-button-next'),
            prevEl: this.querySelector('.yg-button-prev'),
          },
          pagination: {
            el: this.querySelector('.yg-video-pagination'),
            type: 'progressbar',
          },
          breakpoints: {
            750: {
              spaceBetween: 24,
              slidesPerView: 3,
            },
            220: {
              spaceBetween: 16,
              slidesPerView: 1.3,
            },
          },
        });

        this.$calculateSwiperButtonPosition();
        this.videoPlay();
      }

      $calculateSwiperButtonPosition() {
        const contents = this.querySelectorAll('.yg-video-main');
        let maxHeight = 0;
        contents.forEach((content) => {
          const height = content.offsetHeight;
          if (height > maxHeight) {
            maxHeight = height;
          }
        });

        this.style.setProperty('--content-height', maxHeight / 2 + 'px');
      }

      videoPlay() {
        const videos = this.querySelectorAll('.yg-video-main');
        const buttons = this.querySelectorAll('.yg-play-button');
        const dialogContent = this.querySelector('.yg-video-dialog-content');
        const dialogWrapper = this.querySelector('.yg-video-dialog-wrapper');
        const dialogCentre = this.querySelector('.yg-video-dialog');

        buttons.forEach((button, index) => {
          button.addEventListener('click', () => {
            const video = videos[index];
            dialogWrapper.classList.add('active');
            dialogContent.innerHTML = video.innerHTML;
            dialogContent.classList.add('active');
            const closeButton = this.querySelector('.yg-video-dialog .yg-media-close');
            closeButton.addEventListener('click', () => {
              dialogContent.classList.remove('active');
              dialogWrapper.classList.remove('active');
            });
          });
        });

        dialogWrapper.addEventListener('click', (event) => {
          if (
            !dialogCentre.contains(event.target) &&
            !Array.from(buttons).some((button) => button.contains(event.target))
          ) {
            dialogContent.classList.remove('active');
            dialogWrapper.classList.remove('active');
          }
        });
      }
    }

    if (!window.customElements.get('yg-video-slide')) {
      window.customElements.define('yg-video-slide', YGVideoSlide);
    }
  });
</script>
{% schema %}
{
  "name": "YG video slide",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.global.settings.header__heading.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label",
      "default": "Multicolumn"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "title-sm",
          "label": "t:sections.global.settings.heading_size.options__1.label"
        },
        {
          "value": "title-md",
          "label": "t:sections.global.settings.heading_size.options__2.label"
        },
        {
          "value": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__3.label"
        },
        {
          "value": "title-xl tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__4.label"
        }
      ],
      "default": "title-md",
      "label": "t:sections.global.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.global.settings.heading_alignment.label",
      "options": [
        {
          "value": "text-left md:items-end md:flex-row",
          "label": "t:sections.global.settings.heading_alignment.options__1.label"
        },
        {
          "value": "text-center md:items-center",
          "label": "t:sections.global.settings.heading_alignment.options__2.label"
        },
        {
          "value": "text-right md:items-end md:flex-row-reverse",
          "label": "t:sections.global.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "text-center md:items-center"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.global.settings.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.global.settings.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.global.settings.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.global.settings.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.global.settings.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.global.settings.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.global.settings.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.global.settings.heading_tag.label",
      "info": "t:sections.global.settings.heading_tag.info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.settings.subheading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.global.settings.description.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.global.settings.button_label.label",
      "info": "t:sections.global.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.global.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "button_external",
      "label": "t:sections.global.settings.button_external.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "button_icon",
      "label": "t:sections.global.settings.button_icon.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__highlight.content",
      "info": "t:sections.global.settings.header__highlight.info"
    },
    {
      "type": "select",
      "id": "highlighted_text",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.settings.highlighted_text.options__1.label"
        },
        {
          "value": "text",
          "label": "t:sections.global.settings.highlighted_text.options__2.label"
        },
        {
          "value": "full_text",
          "label": "t:sections.global.settings.highlighted_text.options__3.label"
        },
        {
          "value": "half_text",
          "label": "t:sections.global.settings.highlighted_text.options__4.label"
        },
        {
          "value": "underline",
          "label": "t:sections.global.settings.highlighted_text.options__5.label"
        },
        {
          "value": "stencil",
          "label": "t:sections.global.settings.highlighted_text.options__6.label"
        },
        {
          "value": "scribble",
          "label": "t:sections.global.settings.highlighted_text.options__7.label"
        }
      ],
      "default": "none",
      "label": "t:sections.global.settings.highlighted_text.label"
    },
    {
      "type": "select",
      "id": "highlighted_scribble",
      "options": [
        {
          "value": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
        },
        {
          "value": "basic-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
        },
        {
          "value": "sketch-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
        },
        {
          "value": "squiggle-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
        },
        {
          "value": "squiggle-underline-2",
          "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
        }
      ],
      "default": "circle",
      "label": "t:sections.global.settings.highlighted_scribble.label",
      "info": "t:sections.global.settings.highlighted_scribble.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color",
      "id": "bg_card",
      "label": "Card background",
      "default": "#F1F8F8"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_background_2",
      "label": "t:sections.global.settings.color_background_2.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background_2",
      "label": "t:sections.global.settings.gradient_background_2.label"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "video",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "video_url",
          "id": "external_video_url",
          "accept": ["youtube", "vimeo"],
          "label": "t:sections.video.settings.video_url_mobile.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "url",
          "id": "video_other_url",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "image_picker",
          "id": "poster_image",
          "label": "Poster Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "YG video slide",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.overlay"]
  }
}
{% endschema %}
